* {
  margin: 0;
  padding: 0;
  
}
body {
  width: 980px;
  margin: 20px auto;
  background-color: #cecece;
  font-family: 'Andika New Basic', sans-serif;
  font-size: 1rem;
  text-align: justify;
}

header {
  background-color: grey;
  color: white;
  padding: 15px;
  margin: 0 0 20px 0;
}

nav {
  box-sizing: content-box;
  width: 300px;
  margin: 0 0 10px 0px;
  float: left;
  box-sizing: border-box;
}

section {
  box-sizing: border-box;
  width: 680px;
  float: left;
}

section img.main-page {
  float: left;
  margin: 0 20px 0 0;
}

section img.pupin-coils {
  float: left;
  margin: 0 20px 0 0;
}

section div.subheadings {
  border-bottom: 3px solid #740000;  
}

nav ul {
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0;
}

nav li a{
  display: block;
  padding: 15px 10px;
  margin-bottom: 8px;
  background-color: grey;
  color: #c9c500;
  text-decoration: none;
}

nav li a:hover {
  background-color: #a5a5a5;
  color: #740000;
}

th, td {
  border: 1px solid #cecece;
  padding: 10px;
}
table {
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}

h3.table-title {
  text-align: center;
}

tr.even {
  background-color: #b6b30342;
}

tr.odd {
  background-color: #ddd9014d;
}

#heading {
  background-color: #8b8b8b;
  color: aliceblue;
}